/* ----------------------------------- *
 * Colors
 * ----------------------------------- */

.yellow {
  background: yellow;
}
.blue {
  background: blue;
}
.green {
  background: green;
}
.red {
  background: red;
}
.orange {
  background: orange;
}
.purple {
  background: purple;
}
.cyan {
  background: cyan;
}
.grey {
  background: grey;
}
.white {
  background: white;
}
.black {
  background: black;
}


